# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

# Model / data (uncomment if large)
# models/
# data/


# User uploads / runtime files
app/uploads

# HuggingFace / ML model cache
model_cache/
.cache/
